root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.py]
indent_size = 4

[*.{sh,bash}]
# shfmt reads these
switch_case_indent = true
binary_next_line = false

[*.fish]
indent_size = 4

[*.ps1]
indent_size = 4

[{home/git/.config/git/config,*.gitconfig}]
indent_style = tab
